.parameter-input {
  max-width: 340px;
  width: 100%;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 5px 0;
  min-width: 100px;
  padding: 8px 10px;
}

.parameter-block {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.parameter-title {
  min-width: 10%;
}

.parameter-name {
  color: #3b4151;
  font-size: 16px;
  font-weight: 400;
  margin-right: 0.75em;
}

.parameter-name>span {
  color: red;
}

.parameter-name>span::after {
  color: rgba(255, 0, 0, .6);
  content: "required";
  font-size: 10px;
  padding: 5px;
  position: relative;
  top: -6px;
}

.parameter-type {
  color: #3b4151;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 0;
}