.body-input {
  background: hsla(0, 0%, 100%, .8);
  border: none;
  border-radius: 4px;
  color: #3b4151;
  font-family: monospace;
  font-size: 12px;
  font-weight: 600;
  min-height: 280px;
  outline: none;
  padding: 20px;
  margin: 0 2%;
  width: 100%;
}